	# This is Git's per-user configuration file.
[user]
	# Please adapt and uncomment the following lines:
	name = jrsalazar
	email = jrsalazar.dev@hey.com
	signingKey = 5FD3B7F6FEA0B5BA
[push]
	default = current
	autoSetupRemote = true
	autoSetupRemote = true
	autoSetupRemote = true
	autoSetupRemote = true
	default = current
[core]
	excludesfile = /Users/jrs/.gitignore
	pager = delta
[pull]
	rebase = true
	default = matching
[color]
	ui = true
[interactive]
	diffFilter = delta --color-only
[delta]
	features = line-numbers decorations
	colorMoved = default
	syntax-theme = Dracula
	minus-style = syntax "#401817"
	plus-style = syntax "#162b1a"
[commit]
	gpgsign = true
[alias]
	pickable = log --oneline --cherry-pick --right-only --reverse
[versionsort]
	suffix = "-alpha"
	suffix = "-beta"
	suffix = "-rc"
	suffix = ""
[credential]
	helper = 
	helper = /usr/local/share/gcm-core/git-credential-manager
[credential "https://dev.azure.com"]
	useHttpPath = true
[maintenance]
	repo = /Users/jordansalazar/www/grandvision/gv-core-components
[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
